services:
  web1:
    build:
      context: .
      dockerfile: dockerfile.node
    expose: ["5000"]
    environment:
      - PORT=5000
    depends_on:
      - redis

  web2:
    build:
      context: .
      dockerfile: dockerfile.node
    expose: ["5000"]
    environment:
      - PORT=5000
    depends_on:
      - redis


  nginx:
    build:
      dockerfile: dockerfile.nginx
    ports:
      - "80:80"
    depends_on:
      - web1
      - web2

  redis:
    image: redis:latest
    volumes:
      - redis-data:/data

volumes:
  redis-data:
